:root {
  // Palette

  --color-primary: #eeeeee;
  --color-secondary: #76abae;
  --color-bg: #222831;
  --color-bg-secondary: #31363f;
  --color-bg-secondary-contrast: #454a52;

  // Layout

  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;

  //   Font sizes

  --text-small: 12px;
  --text-normal: 16px;
  --text-large: 20px;
  --text-extra-large: 24px;
}
